/*** Global ***/

/*** Global ***/

@font-face {
  font-family: 'jha';
  font-weight: normal;
  src: url(../assets/fonts/jha.otf);
}

@font-face {
  font-family: 'tex';
  font-weight: normal;
  src: url(../assets/fonts/texgyreheroscn/texgyreheroscn-regular.otf);
}

@font-face {
  font-family: 'ogg';
  font-weight: normal;
  src: url(../assets/fonts/Ogg-Roman.otf);
}

@font-face {
  font-family: 'times';
  font-weight: normal;
  src: url(../assets/fonts/TimesTenLTStd-Roman.otf);
}

* {
    margin: 10;
    padding: 0;
}

body {
    width: 100vw;
    display: inline-block;
    background-color: #EAEAEA;
    font-family: tex, sans-serif;
    font-style: normal;
    font-size: 32px;
    color: #231F20;
    text-decoration: none;
    cursor: url(../assets/images/cursor.cur), auto;
}

main {
    position: absolute;
    top: 5em;
    width: 100vw;
}

.text-container {
    margin: 0px 20px;
    max-width: 900px;
    text-align: center;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

li {
    width: 33.33vw;
    float: left;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    color: #EF3E23;
    text-decoration: none;
}

.logo {
    width: 13%;
}

a:hover {
    #color: #479ebc;
}

h1 {
    font-family: ogg;
    font-weight: normal;
    font-size: 1.5em;
    color: #2d3da7;
}

h2 {
    padding: 0px 20px;
    display: block;
    font-family: ogg;
    font-weight: normal;
    font-size: 1.5em;
    color: #002EAF;
}

p {
    font-family: tex;
    font-weight: normal;
    line-height: 1.5em;
    color: #58595B;
}

mark {
    background: inherit;
    color: #BCBEC0;
    font-family: tex;
}

::selection {
    background: rgba(255, 255, 255, .1);
}

/*** Blank ***/

.quilt {
    margin-top: 100px;
    z-index: 0;
}

.row {
    border-top: 1px solid black;
    display: flex;
}

.cell {
    height: 16.66vw;
    width: 16.66vw;
    border-right: black 1px solid;
    background-size: cover;
    background-position: center;
}

.cell:last-child {
    border-right: none;
}

#tooltip {
    font-size: .5em;
    z-index: 1;
    position: absolute;
    display: none;
    background: #f4f4f5;
    border: #2c469d 2px solid;
    color: #2c469d;
    width: 200px;
    padding: 10px;
}

/*** Submit ***/

form {
    display: block;
}

label {
    display: grid;
    padding-bottom: 20px;
    font-family: tex;
    font-size: 1em;
    line-height: 1.5em;
    color: #231f20;
    max-width: 1500px;
}

input[type=text], textarea {
    width: 90%;
    padding: 0px 20px;
    top-margin: 5px;
    border: none;
    background: transparent;
    font-family: times;
    font-size: 1em;
    line-height: 1.5em;
    color: #2B3990;
    text-align: center;
}

textarea {
    max-width: 900px;
}

input[type=file] {
    height: 1em;
    align-content: bottom;
}

input[type=submit] {
    display: inline-block;
    font-family: ogg;
    font-size: 1em;
}

.form-wrapper {
    margin-bottom: 2em;
}

/*** Wear ***/

.image-wrapper {
    width: 55vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.image-wrapper > img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}
