body {
    width: 90%;
    background-color: #cb4447;
}

li{
    box-sizing: border-box;
    float: left;
    background-color: #F4F4F5;
    width: 30%;
    display: inline;
    text-align: center;
    margin: 0%
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
    font-family:'signo', 'Sans-Serif';
    font-weight: 'regular';
    color: #cb4447;
    text-decoration: none;
    font-size: 2em;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'signo', 'sans-serif';
    font-weight: 400;
    font-style: 'normal';
    font-size: 10em;
    color: #EFEDED
}

h1{
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 0%
}

p {
    font-family: 'signo', 'sans-serif';
    font-style: 'normal';
    font-size: 2em;
    line-height: 1.4em;
    color: #F4F4F5;
}

input {
    font-family: 'JHA';
    font-style: 'normal';
    font-size: 3em;
    line-height: 1.5em;
    color: #F4F4F5;
}
    
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px #cb4447
  color: #00A25E
}

label {
  font-family: 'signo', 'sans-serif';
  font-style: 'normal';
  font-size: 3em;
  line-height: 1.5em;
  color: #F4F4F5; 
}

@font-face {
  	font-family: 'JHA';
  	src: url(JHA - TimesNow-SemiLight.otf);
}


