body {
    margin: 60px auto;
    width: 70%;
    background-color: #cb4447;
}
nav ul, footer ul {
    font-family:'signo', 'Sans-Serif';
    font-weight: 'regular';
    font-color: #f4f4f5
}
nav ul li, footer ul li {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 100px;
    color: #f4f4f5
}
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'signo', 'sans-serif';
    font-weight: 400;
    font-style: 'normal';
    font-size: 6em;
    font-color: #f4f4f5
}
p {
    font-family: 'signo', 'sans-serif';
    font-style: 'normal';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #f4f4f5;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
